
<h1>Edit Person</h1>
<%= form_for @person do |p| %>
  <%= p.label :name %>
  <%= p.text_field :name %>

  <%= p.label :age %>
  <%= p.number_field :age %>

  <%= p.label :hair_color %>
  <%= p.text_field :hair_color %>

  <%= p.label :eye_color %>
  <%= p.text_field :eye_color %>

  <%= p.label :gender %>
  <%= p.text_field :gender %>

  <%= p.label :alive %>
  <%= p.check_box :alive, {}, true, false %>



  <%= p.submit %>
<% end %>
