<h1>Person</h1>

<%= @person.name %><br/>
<%= @person.age %><br/>
<%= @person.hair_color %><br/>
<%= @person.eye_color %><br/>
<%= @person.gender %><br/>
<%= @person.alive %><br/>


<%= link_to 'Back', people_path %><br/>